﻿@inject NavigationManager NavigationManager;
@inject IAuthenticationService AuthenticationService;
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #F6F9FC;">
    <div class="container">
        <a class="navbar-brand" href="/"><h2 class="f-bold f-s-35 clr-main">Badaboom</h2></a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="CollapseNavMenu">
            <ul class="nav justify-content-center mt-1">

                <li class="nav-item">
                    <a class="nav-link h5 f-bold f-s-25 clr-main" href="#">Feauters</a>
                </li>
                <li class="nav-item ml-5 mr-5">
                    <a class="nav-link h5 f-bold f-s-25 clr-main" href="#">Pricing</a>
                </li>
                <li class="nav-item mr-6">
                    <a class="nav-link h5 f-bold f-s-25 clr-main" href="#">Explorer</a>
                </li>

            </ul>
            <form class="d-flex">
                @if (AuthenticationService.User != null)
                {
                    <button class="btn b-clr-secondary round-10 text-clr-light f-bold f-s-20" @onclick="@(_ => NavigationManager.NavigateTo("logout"))"><b>Logout</b></button>
                }
                else
                {
                    <button class="btn b-clr-secondary round-10 text-clr-light f-bold f-s-20" @onclick="@(_ => NavigationManager.NavigateTo("login"))"><b>Login</b></button>
                }
            </form>

        </div>
    </div>
</nav>



@code { bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    } 
    
    public void Prerender() => StateHasChanged();
}
